.app {
  width: 95%;
  padding: 30px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;

  background: var(--slightly-dark-yellow);
  border-radius: 5px;
  box-shadow: rgba(146, 146, 146, 0.68) 3px 3px 6px;
}

.app-contents {
  width: 85%;
  margin: auto;
  display: grid;
  justify-items: center;
}

.app > .app-contents > .boxes {
  display: grid;
  width: 100%;
  grid-template-columns: minmax(max-content, 0px) 1fr;
  row-gap: 30px;
  column-gap: 30px;
}

.app-header {
  width: 100%;
  text-align: left;
  margin-bottom: 25px;
  color: rgb(153, 86, 0);
  font-size: 6em;
}

.app-header > .honey {
  font-family: var(--bear-font);
}

.app-header > .heist {
  font-family: var(--criminal-font);
}
