.skill-box {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  padding: 20px;
  line-height: 40px;

  font-size: 25px;
  border-radius: 5px;
  background: var(--very-light-yellow);
  box-shadow: rgba(190, 124, 11, 0.79) 3px 2px 7px;
}